parameters:
    level: 0
    paths:
        - src
        - tests
    ignoreErrors:
        -
            message: "#^Class Symfony\\\\Bundle\\\\FrameworkBundle\\\\Client not found\\.$#"
            count: 1
            path: src/WebTestCase.php
