includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - src
        - tests
    dynamicConstantNames:
        - Symfony\Component\HttpKernel\Kernel::VERSION
    ignoreErrors:
        -
            message: "#^Class Symfony\\\\Bundle\\\\FrameworkBundle\\\\Client not found\\.$#"
            count: 1
            path: src/WebTestCase.php
