parameters:
	ignoreErrors:
		-
			message: "#^Array \\(array\\<Symfony\\\\Component\\\\DependencyInjection\\\\ContainerInterface\\>\\) does not accept object\\|null\\.$#"
			count: 1
			path: src/WebTestCase.php

		-
			message: "#^Comparison operation \"\\>\\=\" between 5\\d+ and 50000 is always true\\.$#"
			count: 1
			path: tests/App/AppKernel.php

		-
			message: "#^Parameter \\#1 \\$callable of static method Doctrine\\\\Common\\\\Annotations\\\\AnnotationRegistry\\:\\:registerLoader\\(\\) expects callable\\(\\)\\: mixed, array\\(mixed, 'loadClass'\\) given\\.$#"
			count: 1
			path: tests/App/bootstrap.php

		-
			message: "#^Call to method PHPUnit\\\\Framework\\\\Assert\\:\\:assertNull\\(\\) with int will always evaluate to false\\.$#"
			count: 1
			path: tests/Command/CommandTest.php

