<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/7.5/phpunit.xsd"
    bootstrap="tests/App/bootstrap.php"
    colors="true"
    beStrictAboutOutputDuringTests="true"
>

    <php>
        <server name="KERNEL_CLASS" value="Facile\SymfonyFunctionalTestCase\Tests\App\AppKernel" />
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="disabled"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
</phpunit>
